#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // 美国英语，UTF-8
        BEGIN
            VALUE "CompanyName",      "Starlight"
            VALUE "FileDescription",  "Starlight Launcher"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "Starlight Launcher"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Starlight"
            VALUE "OriginalFilename", "Starlight Launcher.exe"
            VALUE "ProductName",      "Starlight Launcher"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END